:root {
    --background: #1f2937;
    --font: black;
    --screen: #f3f3f3;
    --calculator: hsl(0, 0%, 95%);
    --edge: #f6f6f6;
    --inside: #fcfcfc;
    --equals: #196aa7;
    

}

/* Establish a consistent baseline for styling, ensuring predictable and uniform layout and spacing throughout the document.
This helps avoid unexpected variations in appearance caused by default browser styles or differences in element behavior.*/
*, /* Selects all elements in the HTML document */
*::before, /* Selects the "before" pseudo-elements of all elements */
*::after { /* Selects the "after" pseudo-elements of all elements */
  
  /* Reset padding to 0 for all elements */
  padding: 0; /* Remove any default padding */

  /* Reset margin to 0 for all elements */
  margin: 0; /* Remove any default margin */
}


body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
  
.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 5px;
    background-color: var(--calculator);
}

.display {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}
  
.equation-line {
    min-height: 32px;
    font-size: 16px;C
}
  
.numeric-line {
    min-height: 64px;
    font-size: 48px;
    font-weight:bold;
}
  
.keypad {
    display: flex;
    flex-direction: column;
    background-color: var(--calculator);
    gap: 2px;
} 

.row {
    display: flex;
}

.btn {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border-color: #ffffff;
    font-size: 24px;
    height: 64px;
    margin: 1px;
    
}

#backspace {
    font-size: 16px;
}

.edge {
    background-color: var(--edge);
}

.inside {
    background-color: var(--inside);
}

#equals{
    background-color: var(--equals);
    color: white;
}

.description {
    display: flex;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 500px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: var(--background);
}
